[submodule "odin-recipes"]
	path = odin-recipes
	url = https://github.com/0rphee/odin-recipes.git
[submodule "css-exercises"]
	path = css-exercises
	url = https://github.com/0rphee/css-exercises.git
[submodule "odin-foundations-landing-page"]
	path = odin-foundations-landing-page
	url = git@github.com:0rphee/odin-foundations-landing-page.git
